.content {
    font-family: sans-serif;
}

#submit_inp_brugernavn {
    display: none;
}

.spiral-text-logo {
    width: 180px;
    margin-top: 40px;
}

.login-modal_facebookBtnBg__ecXHz,
.login-modal_googleBtnBg__qz2el,
.login-modal_lineTextHolder__2Jj7U {
    display: none !important;
}

.login-modal_logInHolder__3fA0H {
    border-radius: 15px;
    padding: 5px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.fails-for {
    font-size: 30px;
    padding-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.spiral-diff {
    font-size: 30px;
}

.heading {
    margin-top: 40px;
    color: white;
}

.galexy-image {
    height: 300px;
    margin-top: 60px;
}

.benefits {
    padding-top: 100px;
    background-color: white;
}

.p-large {
    margin-top: 0px;
    font-size: 18px;
}

.p-heading {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.spiral-productivity {
    font-size: 56px;
}

.two-column-split {
    display: flex;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.align-left {
    flex: 50%;
}

.align-right {
    flex: 50%;
    margin-right: 40px;
}

.centered-text {
    text-align: center;
}

.col {
    float: left;
    width: 33.33%;
}

.inner {
    /* specify padding, can be changed while remaining fixed width of .outer */
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.spiral-icon {
    width: 350px;
    height: auto;
    margin: 60px;
}

.fib-spiral {
    width: 370px;
    height: auto;
}

.splash-button {
    background-color: #546bb8;
    border-radius: 2rem;
    border: none;
    padding: 20px;
    color: white;
    display: show;
    cursor: pointer;
}

.splash-button:hover {
    background-color: #667dc8;
}

.first-block {
    background-color: black;
}

.first-block-content {
    margin-right: 40px;
}

.second-section {
    padding-bottom: 100px;
    background-color: #f2f7fd;
}

.third-section {
    padding-top: 100px;
    background-color: #f3f7fd;
}

ul {
    list-style-type: square;
}

.bullet {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .bullet {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .bullet-list {
        margin-left: 10px;
    }
    /* .spiral-diff {
        padding-top: 40px;
    } */
    .col {
        width: unset;
    }
    .two-column-split {
        display: unset;
        padding-left: 0;
    }
    .image-container {
        position: relative;
        margin: auto;
    }
    .galexy-image {
        width: 110%;
    }
    .spiral-icon {
        margin-left: 0px;
    }
    h2,
    .centered-text,
    p,
    h4 {
        text-align: left;
        margin-left: 8px;
    }
    .fails-for {
        padding-top: 60px;
    }
    .fails-for,
    .p-heading {
        margin-left: 0px;
    }
    .heading {
        padding-top: 20px;
        margin-left: 8px;
        margin-top: -40px;
    }
    .third-section {
        padding-top: 20px;
    }
    .splash-button {
        margin-bottom: 40px;
    }
    .content {
        background-color: white;
    }
    .spiral-diff {
        padding-top: 40px;
    }
}