    .center-text {
        text-align: center;
    }
    
    #folder {
        font-family: inherit;
        outline: none;
        float: right;
        position: relative;
        top: 20px;
        margin-right: 10px;
        cursor: pointer;
        width: 180px;
        height: 55px;
        font-size: 20px;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        overflow: hidden;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        right: 0;
        background: transparent;
        border-color: white;
        border-radius: 15px;
        color: white;
    }
    
    #folder:hover {
        background-color: #447b9c;
    }
    
    .bottom-toolbar {
        margin-right: 14px;
        opacity: 0.7;
    }
    
    .material-icons {
        cursor: pointer;
        text-decoration: none;
        color: lightslategrey;
        opacity: 0.5;
        filter: alpha(opacity=0);
    }
    
    .MuiSvgIcon-root {
        margin-top: 6px;
        font-size: 1.9rem !important;
    }
    
    .taskInput {
        border: 0;
        outline: 0;
        background: transparent;
        width: 240px;
        font-size: 24px;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        color: white;
    }
    
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(219, 219, 219, 0.575);
        opacity: 1;
        /* Firefox */
    }
    
    #fake-underline {
        color: white;
        padding-right: 20px;
        width: 120px !important;
        margin: 0px auto;
        /* margin-top: 20px; */
        display: block;
        margin-bottom: 50px;
        margin-left: calc(50% - 6px);
        transform: translateX(-50%);
    }
    /* #taskInput {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: white;
    } */
    
    #taskInput::-webkit-calendar-picker-indicator {
        display: none;
    }
    
    #taskInput:-webkit-autofill::first-line {
        font-family: 'Roboto Condensed', sans-serif !important;
        font-size: 28px !important;
    }
    
    .taskInput:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    .taskInput:focus:-moz-placeholder {
        color: transparent;
    }
    /* Firefox 18- */
    
    .taskInput:focus::-moz-placeholder {
        color: transparent;
    }
    /* Firefox 19+ */
    
    .taskInput:focus:-ms-input-placeholder {
        color: transparent;
    }
    /* oldIE ;) */
    
    .task-name {
        float: left;
        font-size: 24px;
        position: relative;
        top: 20px;
        color: black;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .plus-button {
        /* width: 50px; */
        position: relative;
        background-color: transparent;
        border: none;
        color: rgba(0, 0, 0, 0.644);
        font-size: 3em;
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        cursor: pointer;
        margin-right: 20px;
        outline-color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    .plus-button:hover {
        background-color: lightgray;
    }
    
    .taskbar {
        margin-left: 8px;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    
    .add-project-modal-main {
        color: white;
        z-index: 9999;
        top: 350px;
        position: absolute;
        background: #296e90f1;
        border: solid white 1px;
        border-radius: 5px;
        width: 196px;
        height: 170px;
        top: 76px;
        right: 10px;
    }
    
    .project-modal-content {
        padding-top: 18px;
    }
    
    .modal {
        display: none;
    }
    
    .modal-main {
        padding: 14px;
        z-index: 9999;
        top: 74px;
        position: absolute;
        background: #296e90f1;
        /* border-style: solid; */
        border-radius: 15px;
        width: 196px;
        height: auto;
        right: 9px;
        color: white;
        border: solid 1px;
    }
    
    .save-project-button,
    .create-project-header,
    .create-project-input {
        margin-top: 24px;
        text-align: center;
        display: inline;
        margin-left: 10px;
    }
    
    .save-project-button {
        padding: 10px;
        background-color: lightgray;
        margin-bottom: 6px;
        border-radius: 10px;
    }
    
    .create-project-input {
        width: 160px;
        margin-left: 8px;
        padding-top: 6px;
    }
    
    .modal-content {
        margin-left: 20px;
        margin-top: 8px;
    }
    
    .modal-close-button {
        font-size: 20px;
        background-color: transparent;
        border-radius: 0px;
        float: right;
        color: darkgray;
        cursor: pointer;
        border: none;
    }
    
    .add-project-button {
        padding: 10px;
        background-color: lightgray;
        margin-bottom: 6px;
        margin-left: 8px;
        border-radius: 10px;
    }
    
    .display-block {
        display: inline !important;
    }
    
    .display-none {
        display: none;
    }
    
    @media screen and (max-width: 768px) {
        #folder {
            font-size: 18px;
            float: left;
            margin-bottom: 22px;
            margin-left: 0px;
            width: 180px;
        }
        #folder:hover {
            background-color: #447b9c;
        }
        .taskInput {
            float: none;
            width: unset;
        }
        .plus-button {
            float: unset;
            width: unset;
        }
    }