.tracking-container {
    background-color: black;
}

.loaderContainer {
    position: relative;
    height: 400px;
}

.loader-empty {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.css-eud0db {
    position: absolute;
    top: 60%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.delete-project {
    padding-right: 10px;
    margin: 0px;
    color: red;
    background: black;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
}

.edit-label {
    color: white;
    margin-left: 40px;
    display: inline
}

.canvasjs-chart-container {
    clear: both;
}

#canvasjs-react-chart-container-1,
#canvasjs-react-chart-container-2 {
    margin-top: 100px;
}

.canvasjs-chart-toolbar,
.canvasjs-chart-credit {
    display: none;
}

.bar-chart-header {
    font-size: 30px;
    margin-top: 0px;
    padding-left: 50px;
    color: white;
}

.bar-chart-sub-header {
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 16px;
    float: left;
    color: rgb(177, 177, 177);
}

.dropdown {
    width: 100%;
}

.bar-chart-sub-header {
    padding-bottom: 20px;
}

.timeframe {
    cursor: pointer;
    background-color: black;
    color: rgb(185, 185, 185);
    font-size: 22px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 6px;
    border-radius: 5px;
    float: left;
}

#canvasjs-react-chart-container-0 {
    position: static !important;
}

.Dropdown-control:hover {
    background-color: rgb(41, 41, 41);
}

.Dropdown-arrow {
    display: none;
}

.timeframe select {
    /* for Firefox */
    -moz-appearance: none !important;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none !important;
}


/* for IE10 */

.timeframe select::-ms-expand {
    display: none;
}

.Dropdown-menu {
    width: 250px;
}

.projects-dropdown>.Dropdown-root>.Dropdown-control {
    font-family: inherit;
    border-width: 2px;
    border-style: outset;
    margin-top: 20px;
    padding: 14px 0px 0px 0px;
    text-align: center;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    width: 180px;
    height: 55px;
    float: right;
    cursor: pointer;
}

.projects-dropdown>.Dropdown-root>.Dropdown-control:hover {
    background-color: rgb(34, 34, 34)
}

.projects-dropdown>.Dropdown-root>.Dropdown-menu {
    right: 0;
    background-color: black;
    max-height: 400px;
    margin-right: 10px;
    border-radius: 15px;
}

.projects-dropdown>.Dropdown-root>.Dropdown-menu>.Dropdown-option {
    color: white;
}

.timeframe-dropdown>.Dropdown-root>.Dropdown-control {
    width: 250px;
}

.tracking-header {
    padding-top: 120px;
}

.tracking-subheader {}

@media screen and (max-width: 768px) {
    .Dropdown-control {
        margin-top: 0px !important;
    }
}