.tracking-container {
    background-color: black;
}

.dropdown {
    width: 200px;
}

.tracking-header {
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .Dropdown-control {
        margin-top: 0px !important;
    }
    .tracking-header {
        padding-top: 60px;
    }
}