.trashIcon {
    width: 22px;
    height: 22px;
    float: right;
    padding-right: 4px;
    cursor: pointer;
}

.trashIcon:hover {
    opacity: 0.5;
}

.project-list-name {
    display: inline;
    cursor: pointer;
    color: white;
}

.current-project-selected-name {
    padding-left: 10px;
}

.project-list-item {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px !important;
}

.project-list-item:hover {
    background-color: lightblue;
    cursor: pointer;
}

.break-clickable {
    text-decoration: underline;
    cursor: pointer;
    color: darkblue
}

.edit-break {
    width: 20px;
    margin-right: 3px;
}

.break-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-break-main {
    position: relative;
    overflow: auto;
    background: rgb(253, 253, 253);
    border-style: solid;
    border-radius: 8px;
    width: 400px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-link-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.nav-link-list {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 8px;
}

.nav-link-item {
    padding-bottom: 16px;
}

.modal-nav-link-main {
    white-space: initial;
    padding: 40px;
    position: relative;
    background: rgb(253, 253, 253);
    border-style: solid;
    border-radius: 15px;
    width: 60%;
    height: 40%;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.help-modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.help-list {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 8px;
}

.help-item {
    padding-bottom: 16px;
}

.modal-help-main {
    padding: 40px;
    position: relative;
    background: rgb(253, 253, 253);
    border-style: solid;
    border-radius: 20px;
    width: 80%;
    height: 60%;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pref-li {
    font-size: 18px;
    padding-left: 0px;
    margin-bottom: 2px;
}

.prefs-label {
    margin-bottom: 4px;
    color: white;
}

.skip-img {
    width: 22px;
    height: 22px;
}

.folder-img {
    margin-bottom: -2px;
    width: 18px;
    height: 18px;
    padding-left: 4px;
}

.projects-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}

.breakprefs-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
    color: white;
}

.save-break-prefs-button {
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 6px;
    border-radius: 10px;
    color: black;
}

.link-tracking {
    text-decoration: underline;
    cursor: pointer;
    color: darkblue
}

.spiral-title {
    clear: right;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    text-align: center;
}

.spiral-headline {
    text-align: center;
    clear: right;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

.bottom-text {
    clear: right;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
    color: darkblue
}

@media screen and (max-width: 768px) {
    .nav-link-modal {
        margin-left: 0px;
        width: 100%;
    }
    .help-modal {
        margin-left: 0px;
        width: 100%;
    }
    .modal-nav-link-main {
        width: 70%;
        height: 40%;
    }
    .modal-break-main {
        top: 50%;
        left: 50%;
    }
    .spiral-title {
        clear: right;
        margin-right: auto !;
        margin-left: auto;
        width: unset;
    }
    .spiral-headline {
        clear: right;
        margin-right: auto;
        margin-left: auto;
        width: unset;
        text-align: left;
    }
    .bottom-text {
        width: unset;
    }
}