center {
    text-align: center;
}

.boxed-container[data-v-ba9fe1bc]{
    max-width:unset;
}

.help-modal-spiral-img {
    height: 200px;
    float: right;
    overflow: hidden;
}

.nav-button {
    font-size: 30px;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

.navBar {
    width: 100%;
    color: black;
    padding-top: 10px;
}

.nav-links {
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
    margin: 12px;
    font-size: 20px;
    height: 0px;
}

.logo-galexy {
    width: 20px;
    height: auto;
    position: absolute;
    margin-top: 6px;
    margin-left: 8px;
    opacity: 0.7;
}

.show-nav {
    height: 140px;
}

.splash {
    display: inline;
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
    margin: 12px;
    font-size: 20px;
}

.clip-loader {
    z-index: 100000
}

@media screen and (min-width: 768px) {
    .nav-button {
        display: none;
        color: black;
    }
    .nav-links {
        height: auto;
        margin: 0px;
    }
    li {
        padding: 0 15px;
    }
    .navBar {
        height: 20px;
    }
}

