.pause {
    margin-right: 12px;
}

#timer {
    font-size: 28px;
    margin-right: 12px;
}

.stop,
.skip-next {}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    #timer {
        float: left;
    }
    .taskInput {
        float: left;
    }
}