.pause {
    margin-right: 12px;
}

#timer {
    font-size: 28px;
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
}

.toolbar-container {
    z-index: 3;
    pointer-events: none;
    width: 700px;
    max-width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clear: left;
    margin: auto;
}

.toolbar-icons {
    pointer-events: auto !important;
    position: absolute;
    top: 320px;
    background-color: rgb(207, 214, 221);
    border-radius: 10px;
    border-color: rgb(175, 175, 175);
    pointer-events: inherit;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
}

.taskbar-open {
    top: 430px;
}

.toolbar-icon {
    position: relative;
    top: 3px;
    height: 36px !important;
    width: 36px !important;
    padding: 1px 12px 1px 12px;
    margin: 0px !important;
    color: black;
}

.toolbar-icon:hover {
    height: 38px !important;
    width: 38px !important;
    padding: 0px 11px 0px 11px;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: inherit;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    top: 115%;
    left: 50%;
    margin-left: -60px;
    text-decoration: none;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: 16px !important;
}

@media screen and (min-width: 500px) {
    .toolbar-icons {
        top: 408px;
    }
}

@media screen and (min-width: 768px) {
    .taskInput {
        float: left;
    }
}