.pause {
    margin-right: 12px;
}

.pause>svg {
    padding: 20px;
    margin-top: 30px;
}

#timer {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
}

.display-timer {
    font-size: 100px;
    margin: 0px;
}

.display-timer-header {
    font-size: 22px;
    margin: 0px;
    margin-top: 100px;
}

.toolbar-container {
    z-index: 3;
    pointer-events: none;
    width: 700px;
    max-width: 100%;
    left: 0;
    right: 0;
    clear: left;
    margin: auto;
    display: flex;
    justify-content: center;
}

.toolbar-icons {
    pointer-events: auto !important;
    position: absolute;
    top: 590px;
    color: white;
    /* background-color: rgb(207, 214, 221);
    border-radius: 10px;
    border-color: rgb(175, 175, 175); */
    pointer-events: inherit;
    padding: 1px 6px;
    /* border-width: 2px;
    border-style: outset; */
    margin-top: 20px;
}

.taskbar-open {
    top: 430px;
}

.toolbar-icon {
    position: relative;
    padding: 12px;
    /* top: 3px; */
    height: 46px !important;
    width: 46px !important;
    /* margin: 0px !important; */
    color: rgb(194, 194, 194);
    border: 1px solid;
    border-radius: 50%;
}

.pause {
    padding: 17px;
    margin-left: 14px;
    margin-right: 14px;
}

.pause.toolbar-icon {
    padding: 20px;
}

.toolbar-icon:hover {
    /* height: 56px !important;
    width: 56px !important; */
    background-color: rgba(119, 136, 153, 0.342);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: inherit;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
    text-decoration: none;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: 16px !important;
}

.pause-tooltip {
    bottom: -16px !important;
}

@media screen and (min-width: 768px) {
    .taskInput {
        float: left;
    }
    .display-timer-header {
        margin-top: 40px;
    }
    .toolbar-icons {
        top: 550px;
    }
}